/* all */
*{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:white
}
body{
    background-color: black;
}
/* h2 */
h2{
    cursor:pointer
}
/*                  header */
header{
    margin-left:20px;
    display:flex;
    align-items: center;
}
/* soptify logo */
#Spotify{
    width:40px;
    border-radius:40px;
    cursor:pointer
}
/* Home Logo */
#home{
    margin-left:450px;
    height:50px;
    width:50px;
    border-radius:60px;
    background-color: rgb(31, 31, 31);
    border-style:none;
    cursor:pointer;
}
#home:active{
    opacity: 0.6;
}
#home_logo{
    font-size:xx-large
}

/* search */
input{
    width:450px;
    height:45px;
    border-radius: 30px;
    margin-left:10px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border:none;
    padding-left: 50px;
    font-size:larger;
    transition: background-color 1s;
}
input:hover{
    background-color: rgb(70, 70, 70);
}
#search_logo{
    font-size:xx-large;
    cursor:pointer
}
#search_logo:hover{
    color:white
}
/*          Sign up & Log in buttons */
#Sign_up, #Log_in{
    border-radius: 30px;
    width:100px;
    height:45px;
    font-size:large;
    border:none;
    margin-left:10px
}
#Sign_up{
    margin-left:240px;
    background: none;
    border:none;
    cursor:pointer;
}
#Sign_up b{
    color:rgb(208, 208, 208);
    transition: font-size 0.1s;
}
#Sign_up b:hover{
    color:rgb(255, 255, 255);
    font-size:20px;
}
#Log_in{
    cursor:pointer;
    background-color: rgb(255, 255, 255);
    transition: font-size 0.1s;
}
#Log_in b{
    color:rgb(0, 0, 0);
}
#Log_in:hover{
    opacity: 0.8;
    font-size:larger
}
/*                  Main */
main{
    margin-top:15px;
    display:flex;
}
/*              aside  */
aside{
    margin-left:5px;
    width: 420px;
    height:550px;
    background-color: rgb(28, 28, 28);
    border-radius:7px;
}
.scroll{
    overflow-y: scroll;
    width: 420px;
    height:250px;
    background-color: rgb(28, 28, 28);
    border-radius:5px;
}
.first, .second{
    background-color: rgb(48, 48, 48);
    border-radius: 5px;
    margin-left: 8px;
    padding-top:3px
}
.first h4 b, p, .second h4 b, p{
    color:white;
    margin-left:20px;
}
.first button, .second button{
    margin-left:15px;
    background-color:white;
    border-radius:50px;
    height:35px;
    width:150px;
    padding-left: 10px;
    border:none;
    cursor:pointer;
    transition: background 0.5s;
}
.first button:hover, .second button:hover{
    background-color: rgb(209, 209, 209);
}
.first button, b .second button, b{
    color:black
}
.footer{
    display:flex;
    justify-content: space-around;
    color:rgb(158, 156, 156);
    height:30px
}
.footer h6{
    cursor:pointer;
    color:lightgrey
}
#language{
    margin-left:20px;
    background: none;
    cursor:pointer;
    border-radius:20px;
    border-color:white;
    border-width:1px;
    font-size:15px;
    border-style:solid;
    height:30px;
    width:100px;
    padding-left:9px;
    transition:font-size 0.2s
}
#language:hover{
    border-width:2px;
    font-size:16px
}
#language b{
    color:white
}
.aside_title{
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-size:16px;
}
.aside_title h3, .bx{
    color:rgb(165, 165, 165);
    cursor:pointer;
    transition: color 1s;
}
.aside_title h3:hover, .bx:hover{
    color:white
}
.aside_title .bx{
    font-size:larger
}
/*                  article */
article{
    margin-left:7px;
    width:1080px;
    border-radius:7px;
    background: linear-gradient(to top, rgb(15, 15, 15) , rgb(45, 45, 45));
}
.article_scrol{
    padding-top: 8px;
    padding-left:20px;
    overflow-y: scroll;
    height:520px;
}
.article_scrol h2:hover{
    text-decoration: underline;
}

/*                  position */
.all{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.all b{
    color:white
}
.all h5{
    margin-top:-1px;
    color:rgb(148, 148, 148)
}
.a{
    display: flex;
    align-items: center;
    width:1005px;
    justify-content: space-between;
}
.a h5{
    cursor:pointer;
    color:grey
}
.a h5:hover{
    text-decoration: underline;
}
/*                  artists */
.artists{
    width:200px;
    height:250px;
    cursor:pointer
}
.artists img{
    height:150px;
    width:150px;
    border-radius:90%;
    transition: box-shadow 0.3s;
    opacity: 0.8
}
.artists img:hover{
    box-shadow: 10px 10px 100px;
    opacity: 1
    ;}

/*          Popular albums     */
.popular img{
    height:140px;
    width:140px;
    border-radius:5px;
    cursor:pointer;
    transition: box-shadow 0.3s;
    opacity: 0.8
}
.popular img:hover{
    box-shadow: 10px 10px 100px;
    opacity: 1
}
.popular b{
    cursor: pointer;
    color:lightgrey
}
/*              main's footer */
ul{
    list-style: none;
}
.icon .bx{
    margin-top:30px;
    font-size:35px;
    margin-left:10px
}
.icon{
    margin-left:100px
}
.footer_2{
    margin-top:100px;
    display:flex;
    justify-content: space-between;
    padding-right: 100px;
}
.footer_2 p{
    color:grey;
    transition: color 0.3s ;
    cursor:pointer;
}
.footer_2 p:hover{
    text-decoration:underline;
    color:white;
}
.footer_2 p b{
    color:rgb(255, 255, 255);  
}
hr{
    margin-top:80px;
    color:rgb(100, 100, 100)
}
h1{
    margin-top:50px;
    font-size:16px;
    color:grey
}
/*                  footer */
footer{
    margin-left:5px;
    padding-top:1px;
    margin-top:5px;
    height:100px;
    width:1506px;
    background:linear-gradient(to right, rgb(255, 49, 255) , rgb(66, 164, 255));
    cursor:pointer;
    display:flex;
}
footer button{
    width:100px;
    height:40px;
    color:black;
    margin-left:48%;
    margin-top:30px;
    border-radius:30px;
    cursor:pointer;
    border-style:hidden;
    transition: font-size 0.2s;
}
footer button:hover{
    background-color: rgb(242, 242, 242);
    font-size:15px
}
